[user]
	email = george.kast@gmail.com
	name = George Kastrinis
	signingkey = 6F8F256C7D93B9EE441FD603B2160BDF58B625D6
[push]
	followTags = true
[alias]
	st = status
	ci = commit
	go = checkout
	br = checkout -b
	ap = add --patch
	fixbr = remote update origin --prune
	merge = merge --no-edit
[color]
	ui = auto
[core]
	editor = nvim
	autocrlf = input
	excludesfile = /Users/georgekastrinis/.gitignore_global
	filemode = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = true
	template = /Users/georgekastrinis/.stCommitMsg
[interactive]
	diffFilter = diff-so-fancy --patch
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[tag]
	forceSignAnnotated = true
[merge]
	tool = nvimdiff
