[user]
	email = george.kast@gmail.com
	name = George Kastrinis
	signingkey = 5BF25C770B76D626
[push]
	followTags = true
[alias]
	st = status
	ci = commit
	co = checkout
	ap = add --patch
[color]
	ui = auto
[core]
	editor = vim
	autocrlf = input
	excludesfile = /Users/gkastrinis/.gitignore_global
	filemode = false
[commit]
	gpgsign = true
	template = /Users/gkastrinis/.stCommitMsg
